<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Duty-shiftTable</title>

    <link rel="stylesheet" href="./css/shiftTable.css" />
  </head>
  <script type="text/javascript">
    // 버튼 클릭 이벤트
    function movePage() {
      location.href = "/nightTurn";
    }
  </script>
  <form>
    <input type="button" value="Night근무 배치" onClick="movePage()" />
  </form>
  <br />
  <div>
    <input type="radio" name="chk_info" value="D" /> D
    <input type="radio" name="chk_info" value="E" /> E
    <input type="radio" name="chk_info" value="ca" /> 생리휴가
    <input type="radio" name="chk_info" value="mo" /> 월 차
    <input type="radio" name="chk_info" value="yo" /> 연 차
    <input type="radio" name="chk_info" value="ho" /> 공 휴 일
  </div>
  <p></p>
  <body>
    <table bordercolor="black">
      <thead>
        <tr>
          <th>부서명</th>
          <th>직위</th>
          <th>사번</th>
          <th>성명</th>
          <% for (var i = 1; i < 32; i++) { %>
          <td><%= i %></td>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% emplist.forEach(function (emplist) { %>
        <tr>
          <td><%=emplist.teamNo %></td>
          <td><%=emplist.position %></td>
          <td><%=emplist.empNo %></td>
          <td><%=emplist.empName %></td>
          <% for (var i = 0; i < 31; i++) { %>
          <td onclick=""><%=emplist.duty[i] %></td>
          <% } %>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
